/* IMPORT RESET */
@import url("reset.css");

/* COMMON STYLE */
body {
  font-family: sans-serif;
}

header, footer {
  line-height: 5em;
  text-align: center;
}

.box {
  line-height: 3em;
  width: 100%;
  text-align: center;
}