/* IMPORT RESET */
@import url("reset.css");

/* COMMON STYLE */
body {
  font-family: sans-serif;
}

header, footer {
  line-height: 2em;
  text-align: center;
}

.box {
  line-height: 2em;
  text-align: center;
}